.list {
  font-size: 18px;
}
.list li {
  margin: 0px 0px 10px 0px;
}
.list li:before {
  content: "";
  background: url() 0 0 no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 0;
}
